    <!-- ************************************* HEADER **************************************** -->
    <div class="container sticky-top">
        <!--<nav class="navbar navbar-dark cust-header" style="padding:0 0;">-->
        <nav class="navbar navbar-dark bg-dark" style="padding:0 0;">
           <!--<a class="navbar-brand navbar-left">-->
            <a class="navbar-brand navbar-left">
                <img src="assets/images/Badges_Saint-City__Boxed_White.png" alt="Logo" style="width:50px;" />
            </a> 
            <!-- Nav pills -->
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewHome" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewAnnouncements" routerLinkActive="active">Announcements</a>
                </li>
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewActivities" routerLinkActive="active">Activities</a>
                </li>
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewSchedule" routerLinkActive="active">Schedule</a>
                </li>
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewContacts" routerLinkActive="active">Contacts</a>
                </li>
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewLogistics" routerLinkActive="active">Logistics</a>
                </li> 
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewUpcomingEvents" routerLinkActive="active">Upcoming Events</a>
                </li>  
<!--                 <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewScriptures" routerLinkActive="active">Scripture</a>
                </li>  --> 
                <li class="nav-item pill-white">
                    <a class="nav-link" data-toggle="pill" routerLink="/viewLocations" routerLinkActive="active">Locations</a>
                </li>  
            </ul>
            <a class="navbar-brand navbar-right">
                <img src="assets/images/Badges_Saint-City__Boxed_White.png" alt="Logo" style="width:50px;" />
            </a> 
        </nav>
    </div> 