<div>
    <br />
    <h2>Location Type List
        <button class="btn btn-primary float-right" (click)="click_add()">
            <i class="far fa-plus-square"></i>
        </button>
    </h2>
    <br />
    <table class="table table-striped">
        <tr *ngFor="let locType of locationTypes">
            <td>{{ locType.loc_cd }}</td>
            <td>{{ locType.loc_cd_full }}</td>
            <td><button class="btn btn-success" (click)="edit(locType)"><i class="fas fa-edit"></i></button></td>
            <td><button class="btn btn-danger" (click)="delete(locType)"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
    </table> 
</div>