<div>
    <br />
    <h2>Image List
        <button class="btn btn-primary float-right" (click)="click_add()">
            <i class="far fa-plus-square"></i>
        </button>
    </h2>
    <br />
    <table class="table table-striped">
        <tr *ngFor="let img of images">
            <td>{{ img.id }}</td>
            <td>{{ img.image_name }}</td>
            <td>{{ img.image_html }}</td>
            <td><button class="btn btn-success" (click)="edit(img)"><i class="fas fa-edit"></i></button></td>
            <td><button class="btn btn-danger" (click)="delete(img)"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
    </table> 
</div>