    <!-- ************************************* HEADER **************************************** -->
    <div class="container-flex fixed-top cust-header">
        <div class="row">
            <div class="col text-left">
                <img src="assets/images/Badges_Saint-City__Boxed_White.png" alt="Logo" style="width:50px;" />
            </div> 
            <div class="col text-center">
                <img src="assets/images/Badges_Saint-City__Circle_Charcoal copy.png" alt="Logo" class="img-center-sign" />
            </div>
            <div class="col text-right">
                <img src="assets/images/Badges_Saint-City__Boxed_White.png" alt="Logo" style="width:50px;" />
            </div> 
        </div>
    </div> 
    <br /><br />
