<!-- <div>
    <app-sign-header></app-sign-header>
</div>
<div class="main-body">
    <div class="container-flex row">
        <div class="col">
            <app-schedule-view></app-schedule-view>
        </div>
        <div class="vl"></div>
        <div class="col">
            <app-logistics-view></app-logistics-view>
        </div>
    </div>
</div>
<hr class="hl" />  
<div class="main-body">
    <div class="container-flex row">
        <div class="col">
            <app-upcoming-event-view></app-upcoming-event-view>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="container-flex row marquee">
        <app-marquee-view></app-marquee-view>
    </div>
</div>
<div class="fixed-bottom">
<app-sign-footer></app-sign-footer>
</div> -->

<div>
    <app-sign-header></app-sign-header>
</div>
<div class="main-body">
    <div class="container-flex row">
        <div class="col">
            <app-upcoming-event-view></app-upcoming-event-view>
        </div>
        <div class="vl"></div>
        <div class="col">
            <app-logistics-view></app-logistics-view>
        </div>
    </div>
</div>

    <div class="container-flex row marquee">
        <app-marquee-view></app-marquee-view>
    </div>

<div class="fixed-bottom">
<app-sign-footer></app-sign-footer>
</div>